<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="concierto.imagen" [alt]="concierto.nombre">
    <div class="card-block">
        <h4 class="card-title">{{concierto.nombre}}</h4>
        <p class="card-text">{{concierto.recinto}}</p>
        <p class="card-text"><small class="text-muted">{{concierto.fecha | timestampToDate}}</small></p>
        <button type="button" (click)="verConcierto()" class="btn btn-outline-primary btn-block">
          Ver Más...
        </button>
    </div>
</div>