<h1>{{ concierto?.nombre | uppercase }}
</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-md-4">
        <img class="img fluid card-img-top" [src]="concierto?.imagen" [alt]="concierto?.nombre">
        <br><br>
        <button class="btn btn-outline-primary btn-block overwhite" [routerLink]="['/home']">
            <i class="fa fa-arrow-left"></i> Regresar</button>

        <button *ngIf="!eliminado" [routerLink]="['/editar', concierto?.id]" class="btn btn-info mr-1 btn-block">
            <i class="fa fa-pen"></i>
        </button>
        <button *ngIf="!eliminado" class="btn btn-danger btn-block" (click)="eliminarConcierto(concierto) ">
            <i class="fa fa-trash"></i>
        </button>
        <div class="alert alert-success" *ngIf="eliminado" role="alert">
            Se eliminó correctamente
        </div>
    </div>
    <div class="col-md-8">
        <h3>{{concierto?.recinto}} ({{ concierto?.comuna}} )</h3>
        <hr>
        <p>
            <strong>Fecha:</strong> {{ concierto?.fecha | timestampToDate | date: 'dd/MM/yyyy' }}
        </p>
        <p>
            <strong>Hora:</strong> {{ concierto?.fecha | timestampToDate | date: 'HH:mm'}}
        </p>
        <p *ngIf="concierto?.precio?.moneda === 'USD'">
            <strong>Precio:</strong> {{ concierto?.precio?.monto | currency }} {{ concierto?.precio?.moneda }}
        </p>
        <p *ngIf="concierto?.precio?.moneda === 'CLP'">
            <strong>Precio:</strong> {{ concierto?.precio?.monto | currency: "CLP": "$": "1.0-0" | reemplazarSigno : ','
            : '.' }}
        </p>
        <p>
            <strong>Entradas:</strong><br>
            <button *ngIf="!concierto?.agotado" class="btn btn-outline-success disabled w-50" type="button">
                <i class="fa fa-smile-wink"></i>
                Disponibles
            </button>

            <button *ngIf="concierto?.agotado" class="btn btn-outline-danger w-50 disabled" type="button">
                <i class="fa fa-dizzy"></i>
                Agotadas
            </button>
        </p>
        <p *ngIf="concierto?.artistas.length > 1"><strong>Artistas Invitados:</strong></p>
        <p *ngIf="concierto?.artistas.length === 1"><strong>Artista:</strong></p>
        <div *ngIf="concierto?.artistas.length > 0" class="list-group">
            <li class="list-group-item" *ngFor="let artista of concierto?.artistas">{{ artista }} </li>
        </div>
        <br>
    </div>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>